/*
!/Scripts/
!/.static/

!/.config/
/.config/*
!/.config/i3/
/.config/i3/*
!/.config/i3/config

!/.config/nvim/
/.config/nvim/*
!/.config/nvim/bundle/gruvbox
!/.config/nvim/colors
!/.config/nvim/lua
!/.config/nvim/init.vim

!/.config/ranger/
/.config/ranger/*
!/.config/ranger/rifle.conf

!/.config/redshift.conf 

!.profile_extension
!.shell_extension
!.zshrc
!.tmux.conf
!.gitignoreGLOBAL
